<%= render "shared/icl_pp_sidebar" %>
<h3>Current Projects</h3>
  <div id="projects">

 <%= render partial: 'shared/icl_pp_projects', locals: {projects: @courses, action:"choose_projects"} %>

<%= render "shared/icl_pp_footer" %>
