<%= render "shared/icl_pp_sidebar" %>
<h3>Current Projects</h3>
  <%= render partial: 'shared/icl_pp_projects', locals: {projects: @individual_projects, action:"choose_indiv"} %>


      
  
<%= render "shared/icl_pp_footer" %>
